@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom Toast Styles */
.custom-toast {
  width: 250px;
  min-height: 40px;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease-in-out;
  opacity: 1;
}

.custom-toast-success {
  background: linear-gradient(to right, #16a34a, #4c1d95); /* Darker green/purple gradient */
  color: #ffffff; /* Pure white text */
  border-radius: 12px; /* Rounded corners */
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2); /* Visible shadow */
  animation: slideIn 0.3s ease-out; /* Slide-in animation */
  font-weight: 500; /* Medium weight text */
}

.custom-toast-error {
  background-color: #ef4444; /* Solid red */
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(20px) translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}